{% if content %}
  {% set classes = [
    "rad-card--highlight",
    settings.layout_width
  ] %}

  {% if settings.layout_classes is not empty %}
    {% set classes = classes|merge(settings.layout_classes|split(' ')) %}
  {% endif %}

  <div {{ attributes.addClass(classes).setAttribute('id', settings.layout_id) }}>
    {% if content.one is not empty %}
      <div {{ region_attributes.one.addClass("rad-card--highlight__one") }}>
        {{ content.one }}
      </div>
    {% endif %}
    {% if content.two is not empty %}
      <div {{ region_attributes.two.addClass("rad-card--highlight__two") }}>
        {{ content.two }}
      </div>
    {% endif %}
    {% if content.three is not empty %}
      <div {{ region_attributes.three.addClass("rad-card--highlight__three") }}>
        {{ content.three }}
      </div>
    {% endif %}
  </div>
{% endif %}
