{% if content %}
  {% set classes = [
    "rad-two-column",
    settings.layout_width,
    settings.layout_inner_width,
    "rad-two-column--" ~ settings.layout_type,
    settings.layout_background,
  ] %}

  {% if settings.layout_classes is not empty %}
    {% set classes = classes|merge(settings.layout_classes|split(' ')) %}
  {% endif %}

  <div {{ attributes.addClass(classes).setAttribute('id', settings.layout_id) }}>
    <div {{ region_attributes.one.addClass("rad-two-column__left", settings.layout_type == 'left_sidebar' ? 'rad-two-column--sidebar' : 'rad-two-column--content') }}>
      {{ content.one }}
    </div>

    <div {{ region_attributes.two.addClass(["rad-two-column__right", settings.layout_type == 'right_sidebar' ? 'rad-two-column--sidebar' : 'rad-two-column--content']) }}>
      {{ content.two }}
    </div>
  </div>
{% endif %}
